doctype html

html
	head
		title angularjs-bootstrap-datetimepicker demo
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css")

	body(ng-app="demo")
		main.container(ng-controller="demoController as dc")
			.row
				h2 Datetime picker
				datetimepicker(ng-model="datetime1")
				input.col-lg-3(disabled="true", ng-model="datetime1")
			.row
				h2 Datetime picker with ngChange
				datetimepicker(ng-model="datetime2" ng-change="datetime2ta = datetime2ta + 'Changed!\n'")
				input.col-lg-3(disabled="true", ng-model="datetime2")
				.row
				textarea(ng-model="datetime2ta")
