doctype html

html
	head
		title angularjs-bootstrap-datetimepicker demo
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css")

	body(ng-app="demo")
		form.container(name="form" ng-controller="demoController as dc")
			.row
				h2 Datetime picker
				datetimepicker(name="date1" ng-model="datetime1" datetimepicker-config="{minView: 'year', startView: 'year'}")
				input.col-lg-3(disabled="true", ng-model="datetime1")
			.row
				pre {{form.date1 | json}}

			.row
				h2 Datetime picker with ngChange
				datetimepicker(name="date2" ng-model="datetime2" ng-change="datetime2ta = datetime2ta + 'Changed!\n'")
				input.col-lg-3(disabled="true", ng-model="datetime2")
				.row
				textarea(ng-model="datetime2ta")
